---
layout: base
stylesheet: index
libs: [postsel, fa]

# Description from the `_config.yml` file.
# FIXME: DRY
description: >-
    Ammar Ratnani's personal website. It's fairly minimal, containing little
    more than an about section and some blog posts.
---

{% comment %}
    We could build this up ourselves with Flex, but Bootstrap has it.
{% endcomment %}
<div class="container align-items-start">
    <main id="theMain" class="row">
        <div class="col-xl-4">
            {% comment %}
                We'll use a container for the profile picture so that we can set
                the aspect ratio without having to load the image first. This
                prevents the content from shifting around when the image loads.
            {% endcomment %}
            <div id="profileImgContainer">
                <img id="profileImg" src="/assets/img/profile.webp"
                  alt="A picture of Ammar Ratnani"/>
            </div>

            {% comment %}
                Have the social media links be clickable.
            {% endcomment %}
            <div id="socialMediaLinks">
                {% for link in site.data.content.social_links %}
                    {% comment %}
                        Yes, it is actually necessary to have everything on one
                        line. Otherwise, we get an unsightly bar on hover.
                    {% endcomment %}
                    <a href="{{ link.url }}" aria-label="{{ link.name }}" class="text-body socialMediaLink"><i class="{{ link.icon_class }}" aria-hidden="true"></i></a>
                {% endfor %}
            </div>
        </div>

        <div class="col-xl-8">
            {% for abt in site.about %}
                <h1>{{ abt.title }}</h1>
                {{ abt.content }}
            {% endfor %}
        </div>
    </main>

    <hr/>

    <p>
        <h1>
            <a href="/feed.xml" aria-label="RSS Feed" class="text-body rssLink"><i class="fa-solid fa-square-rss" aria-hidden="true"></i></a>
            Recent Posts
        </h1>
    </p>
    {% include post_select.html start='0' num=site.data.structure.post_select.homeNumSel %}
</div>
