---
# Have some default values
stylesheet: index
libs: []

# We give posts the ability to configure some libraries. The configuration
# options are given by the following YAML schema.
#
# type: object
# additionalProperties: false
# properties:
#     mathjax:
#         type: object
#         properties:
#             declarations:
#                 type: array
#                 description: |
#                   A list of new commands to define. These will be expanded to
#                   a set of `\newcommand` declarations.
#                 items:
#                     type: object
#                     additionalProperties: false
#                     properties:
#                         name:
#                             type: string
#                             description: |
#                               The name of the new command, including the
#                               backslash.
#                         value:
#                             type: string
#                             description: |
#                               The value the command expands to.
#                         nargs:
#                             type: integer
#                             description: |
#                               The number of arguments the command takes.
#                             default: 0
#                     required:
#                       - name
#                       - value
#     mermaidjs:
#         type: object
#         additionalProperties: true
#         description: |
#           Configuration options for MermaidJS. These will be unioned with the
#           default configuration.
#         properties: {}
---

<!DOCTYPE html>
<html lang="en-US">

    <head>

        {% comment %} Boilerplate {% endcomment %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% comment %} Description {% endcomment %}
        {% comment %}
            If the page has a description, use that. Otherwise, leave it blank
            to use the page content.
        {% endcomment %}
        {% if page.description %}
            <meta name="description" content="{{page.description}}"/>
        {% endif %}

        {% comment %} Bootstrap {% endcomment %}
        {% comment %} JQuery {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>

        {% comment %} Process Includes {% endcomment %}
        {% assign libList = page.libs | concat: layout.libs %}
        {% for lib in libList %}
            {% if lib == "postsel" %}
                {% comment %}
                    If we use the post selector, import the styles.
                {% endcomment %}
                <link rel="stylesheet" href="/assets/css/util/post_select.css"/>
            {% elsif lib == "fa" %}
                {% comment %} Font Awesome {% endcomment %}
                <script async src="https://kit.fontawesome.com/09a6f434c3.js" crossorigin="anonymous"></script>
            {% elsif lib == "mathjax" %}
                {% comment %} MathJax {% endcomment %}
                <script>
                    MathJax = {
                        tex: {
                            inlineMath: [['@@', '@@']],
                            displayMath: [['%%', '%%']]
                        }
                    };
                </script>
                <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" crossorigin="anonymous"></script>
            {% elsif lib == "code" %}
                {% comment %} Custom code highlighting {% endcomment %}
                <link rel="stylesheet" href="/assets/css/util/code.css"/>
            {% elsif lib == "mermaidjs" %}
                {% comment %} MermaidJS {% endcomment %}
                {% comment %}
                    We'll set some default values, then allow specific pages to
                    override them.
                {% endcomment %}
                <script type="module" async>
                    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
                    let DEFAULT_CONFIG = {
                        startOnLoad: true,
                        theme: "neutral",
                        themeVariables: {
                            lineColor: "#000000"
                        },
                    };
                    mermaid.initialize({
                        ...DEFAULT_CONFIG,
                        {% if page.libs_config.mermaidjs %}
                            ...{{page.libs_config.mermaidjs | jsonify}}
                        {% endif %}
                    });
                </script>
            {% else %}
                {% comment %} Error {% endcomment %}
                <script> console.error("Unknown library include: {{lib}}"); </script>
            {% endif %}
        {% endfor %}

        {% comment %} My libraries {% endcomment %}
        <link rel="stylesheet" href="/assets/css/{{page.stylesheet | default: layout.stylesheet}}.css"/>

        {% comment %} If the page has a title, use that {% endcomment %}
        {% if page.title %}
            {% comment %} Append the site name with a dash {% endcomment %}
            <title>{{ page.title | append: " - " | append: site.title }}</title>
        {% else %}
            {% comment %} Otherwise, just use the site's title {% endcomment %}
            <title>{{site.title}}</title>
        {% endif %}

    </head>

    <body>

        {% comment %}
            Link to jump to the main content of the page, for accessibility. We
            assume someone else defines `#theMain`.
        {% endcomment %}
        <a id="skipToTheMain" href="#theMain" class="visually-hidden-focusable">Skip to main content</a>

        {% comment %} Bootstrap navbar for navigation {% endcomment %}
        <nav id="topLevelNav" class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                {% comment %} Brand {% endcomment %}
                <a class="navbar-brand" href="/index.html">{{site.title}}</a>

                {% comment %} For collapsing {% endcomment %}
                <button class="navbar-toggler" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#topLevelNavCollapse"
                  aria-controls="topLevelNavCollapse"
                  aria-expanded="false"
                  aria-label="Toggle top-level navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% comment %} The thing to collapse {% endcomment %}
                <div class="collapse navbar-collapse" id="topLevelNavCollapse">
                    <ul class="navbar-nav ms-auto">
                        {% for link in site.data.content.navbar_links %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{link.page}}"
                                  {% if link.page == page.url %}aria-current="page"{% endif %}>
                                    {{link.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        {% comment %}
            MathJax declarations, if the post has them. This has to go in the
            body.
        {% endcomment %}
        {% if page.libs_config.mathjax.declarations %}
            <div class="d-none">
                {% for declaration in page.libs_config.mathjax.declarations %}
                    @@\newcommand
                        { {{declaration.name}} }
                        {% if declaration.nargs %} [{{declaration.nargs}}] {% endif %}
                        { {{declaration.value}} }
                    @@
                {% endfor %}
            </div>
        {% endif %}

        <div id="content">
            {{ content }}
        </div>

        <footer id="footer">
            <hr/>
            <a href="/LICENSE.md" id="footerLink">
                Copyright &copy; Ammar Ratnani<br/>
                SPDX License Identifier: CC-BY-4.0 AND MIT
            </a>
        </footer>
    </body>

</html>
