---
layout: base
stylesheet: post
libs: [postsel, fa]
---

{% comment %}
    See: https://developers.google.com/search/docs/appearance/structured-data/article
{% endcomment %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "url": "{{ page.url | absolute_url }}",
    "inLanguage": "en-US",

    "headline": {{ page.title | jsonify }},
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "keywords": {% if page.tags %}{{ page.tags | jsonify }}{% else %}[]{% endif %},

    "author": {
        "@type": "Person",
        "name": "{{ site.name }}",
        "pronouns": "he/him",
        "email": "{{ site.email }}",
        "url": "{{ site.url }}"
    }
}
</script>

{% comment %} Find the index of this post {% endcomment %}
{% for post in site.posts %}
    {% if post.id == page.id %}
        {% comment %}
            For some reason, Liquid indexes at 1 for for loops.
        {% endcomment %}
        {% assign postIdx = forloop.index | minus: 1 %}
        {% break %}
    {% endif %}
{% endfor %}

<main id="theMain">
    {% comment %}
        Have a separate paragraph for the title due to spacing.
    {% endcomment %}
    <p>
        <h1>{{page.title}}</h1>
        <em class="text-muted">{{page.date | date: "%-d %B %Y"}}</em>
    </p>

    <div id="postContent">
            {{content}}
    </div>
</main>

<hr/>

{% comment %}
    Calculate the starting index we should display posts from. We get the total
    number of posts we need to display. We should display half on each side of this
    post, biasing towards more recent posts if needed.

    Remember, the maximum index is `numPosts - 1`, not `numPosts`, since we
    will be skipping the current post. Also, low indicies are more recent posts.
{% endcomment %}
{% assign numPosts = site.posts | size %}
{% assign numSel = site.data.structure.post_select.postNumSel %}
{% assign halfNumSel = numSel | divided_by: 2.0 | ceil %}
{% assign startIdx = postIdx | minus: halfNumSel %}

{% comment %}
    If we're toward the old posts - toward the end of the array - we want to
    backfill with more recent posts.

    Make sure the index doesn't go negative. If it does, we'll start taking from
    the opposite end of the array, which isn't what we want. Instead, we want to
    take the most recent posts.
{% endcomment %}
{% assign startIdxMax = numPosts | minus: numSel | minus: 1 %}
{% assign startIdx = startIdx | at_most: startIdxMax | at_least: 0 %}

<p>
    <h1>
        <a href="/feed.xml" aria-label="RSS Feed" class="text-body rssLink"><i class="fa-solid fa-square-rss" aria-hidden="true"></i></a>
        Related Posts
    </h1>
</p>
{% include post_select.html start=startIdx num=numSel skipId=page.id %}
