---
layout: base
title: Posts
stylesheet: post_listing
libs: [postsel, fa]
description: Post listing for Ammar Ratnani's personal website.
---

<main id="theMain">
    <p>
        <h1>
            <a href="/feed.xml" aria-label="RSS Feed" class="text-body rssLink"><i class="fa-solid fa-square-rss" aria-hidden="true"></i></a>
            All Posts
        </h1>
    </p>

    <div class="postSelectContainer">
        {% for post in paginator.posts %}
            <div class="card postSelectItem">
                <div class="card-body">
                    <a href="{{post.url}}" class="text-body stretched-link postSelectLink"/>{{post.title}}</a>
                </div>
                <div class="card-footer">
                    <em class="text-secondary">On {{post.date | date: "%-d %B %Y"}}</em>
                </div>
            </div>
        {% endfor %}

        {% comment %}
            Add placeholders to make sure the items have equal width. We set the
            total number of items to be divisible by 1, 2, 3, ...
            See: https://medium.com/developedbyjohn/equal-width-flex-items-a5ba1bfacb77
        {% endcomment %}
        {% assign totMod = 6 %} {% comment %} LCM(1,2,3) {% endcomment %}
        {% assign numAlready = paginator.posts.size | modulo: totMod %}
        {% assign numPlaceholders = totMod | minus: numAlready %}
        {% for i in (1..numPlaceholders) %}
            <div class="postSelectPlaceholder"></div>
        {% endfor %}
    </div>
</main>

{% if paginator.total_pages > 1 %}
    <nav id="postPagination">
        <ul class="pagination">

            {% comment %}
                The templates for pages get a bit nasty. So, compute them once
                and store them in variables
            {% endcomment %}
            {% assign firstPageHref = site.paginate_path | replace: ':num', '' | relative_url %}
            {% assign nextPageHref = paginator.next_page_path | relative_url %}
            {% assign prevPageHref = paginator.previous_page_path | relative_url %}
            {% assign lastPageHref = site.paginate_path | replace: ':num', paginator.total_pages | relative_url %}

            {% comment %}
                Show "<<" and "<" buttons. If we're on the first page, we can't
                go any earlier.
            {% endcomment %}
            {% if paginator.page == 1 %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="First page">&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Previous page">&lsaquo;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ firstPageHref }}" aria-label="First page">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ prevPageHref }}" aria-label="Previous page">&lsaquo;</a>
                </li>
            {% endif %}

            {% comment %}
                We want to show this page +/- paginationBarDelta pages. Always
                try to fill with extra pages on the left and right though.
            {% endcomment %}
            {% assign delta = site.data.structure.post_listing.paginationBarDelta %}
            {% assign window = delta | times: 2 | plus: 1 %}
            {% assign startPage = paginator.page | minus: delta | at_least: 1 %}
            {% assign endPage = paginator.page | plus: delta | at_most: paginator.total_pages %}
            {% assign startPage = endPage | minus: window | at_least: 1 %}
            {% assign endPage = startPage | plus: window | at_most: paginator.total_pages %}

            {% for page in (startPage..endPage) %}
                {% comment %}
                    Compute the path of this page. The pagination extension
                    handles the first page specially (for some reason).
                {% endcomment %}
                {% if page == 1 %}
                    {% assign pageHref = firstPageHref %}
                {% else %}
                    {% assign pageHref = site.paginate_path | replace: ':num', page | relative_url %}
                {% endif %}

                <li class="page-item {% if page == paginator.page %} active {% endif %}">
                    <a class="page-link" aria-label="Page {{page}}" href="{{ pageHref }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% comment %}
                Show ">" and ">>" buttons. If we're on the last page, we can't
                go any later.
            {% endcomment %}
            {% if paginator.page == paginator.total_pages %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Next page">&rsaquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Last page">&raquo;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ nextPageHref }}" aria-label="Next page">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ lastPageHref }}" aria-label="Last page">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
